@font-face {
  font-family: 'Undertale';
  src: url('fonts/undertale-font-rus-eng.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Undertale', sans-serif;
  background-color: black;
  color: white;
  font-size: 16px;
}

#hidden{
    color:black
}

#valid{
    font-size: 24px;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#crossword{
  position:relative;
  right: 100px;
}

#jumble{
  position:relative;
  left: 100px;
}

#puzzle{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.img-link {
  display: inline-block; 
  padding: 0;           
  margin: 20px;         
}

.img-link img {
  display: block;      
}