@font-face {
  font-family: 'Undertale';
  src: url('../fonts/undertale-font-rus-eng.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html,
body {
  margin: 0;
  padding: 0;
  background-image: url("../images/bg.png");
  background-size: auto;
  background-position: center;
  font-family: 'Undertale', sans-serif;
  color: white;
  font-size: 20px;
  background-color: black;
  background-repeat: repeat;
  background-attachment: fixed;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

header {
  background-image: url("../images/bg2.png");
  background-position-x: center;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 1));
  position: sticky;
  top: 0;
  z-index: 999;
  flex-shrink: 0;
  text-align: center;
}

#menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

#menu a {
  font-family: 'Undertale', sans-serif;
  font-size: 22px;
  color: white;
  text-decoration: none;
  filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 1));
  transition: 0.15s;
}

#menu a:hover {
  color: red;
}


#wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

#logo {
  display: flex;
  justify-content: center;
  padding: 20px 0 10px 0;
}

#logo img {
  max-width: 100%;
  height: auto;
}

#love {
  justify-content: center;
  font-size: 22px;
  margin-top: -10px;
  align-items: center;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  line-height: 1.6;
}

footer {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  position: relative;
}

#transition {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  user-select: none;
  pointer-events: none;
}

#rights {
  color: gray;
  font-size: 18px;
  text-align: center;
  pointer-events: none;
  margin: 0;
}

#devlog {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #000000;
  color: white;
  padding: 20px 20px;
  border: 4px solid white;
  width: auto;
  min-width: 525px;
  max-width: 80vw;
  margin: 0 auto;
  margin-bottom: 20px;
  transition: 0.15s;
}

#devlogs {
  position: relative;
  top: 100px;
}

#devImage {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

#devContent {
  display: flex;
  flex-direction: column;
}

#devTitle {
  margin: 0;
  font-size: 18px;
  color: red;
}

#devDesc {
  margin: 2px 0;
  font-size: 16px;
}

#devDate {
  margin: 0;
  font-size: 12px;
  color: #aaa;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.15s;
}

a:hover {
  color: red;
}

#devlog:hover {
  border-color: red;
  cursor: pointer;
  transform: scale(1.025);
}




@media (max-width: 596px) {
  .menu {
    gap: 40px;
  }

  #logo {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  #logo img {
    max-width: 90%;
    height: auto;
  }

  #devlog {
    min-width: 100px;
  }

  #love {
    font-size: 16px;
  }

  #rights {
    font-size: 12px;
  }

  #menu a {
    font-size: 18px;
  }

  #devlogs {
    top: 50px;
  }
}