@font-face {
  font-family: 'Undertale';
  src: url('../fonts/undertale-font-rus-eng.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Undertale', sans-serif;
  background-color: black;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  cursor: pointer;
}

#prize {
  font-size: 22px;
  font-family: 'Undertale', sans-serif;
  color: white;
}