@font-face {
  font-family: 'Undertale';
  src: url('../fonts/undertale-font-rus-eng.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '8bit';
  src: url('../fonts/8bitOperatorPlus-Regular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  /* STRUCTURE */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100dvh;

  /* TEXT */
  font-family: 'Undertale', sans-serif;
  color: white;
  font-size: 20px;

  /* BACKGROUND */
  background-image: url("../images/background_texture.png");
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: black;
}

header {
  /* STRUCTURE */
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;

  background-image: url("../images/menu_texture.png");
  background-position-x: center;

  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 1));
  top: 0;
  z-index: 999;
}

#menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

#menu a {
  font-family: 'Undertale', sans-serif;
  font-size: 22px;
  color: white;
  text-decoration: none;
  filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 1));
  transition: 0.15s;
}

#menu a:hover {
  color: #ff0001;
}

#wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 20px 0 10px 0;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.message {
  justify-content: center;
  font-size: 20px;
  margin-top: -10px;
  align-items: center;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  line-height: 1.6;
  filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 1));
}

.submessage {
  justify-content: center;
  font-size: 16px;
  color: gray;
  margin-top: -10px;
  align-items: center;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
  line-height: 1.6;
}

footer {
  font-family: '8bit', sans-serif;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  position: relative;
}


#transition {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  user-select: none;
  pointer-events: none;
}

#rights {
  color: gray;
  font-size: 18px;
  text-align: center;
  pointer-events: none;
  margin: 0;
  filter: drop-shadow(5px 2px 0 rgba(0, 0, 0, 1));
}

a {
  color: white;
  text-decoration: none;
  transition: 0.15s;
}

a:hover {
  color: red;
}


@media (max-width: 596px) {
  #menu {
    gap: 40px;
  }

  .logo {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .logo img {
    max-width: 90%;
    height: auto;
  }

  .message {
    font-size: 14px;
  }

  .submessage {
    font-size: 10px;
  }

  #rights {
    font-size: 12px;
  }

  #menu a {
    font-size: 18px;
  }

}